<!DOCTYPE html>
<html lang="en">
<head>
        <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />
        <link href="{{ SITEURL }}/{{ FEED }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} ATOM Feed" />
        {% if FEED_RSS %}
        <link href="{{ SITEURL }}/{{ FEED_RSS }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
        {% endif %}

        <script type="text/javascript" async
                src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
        </script>
</head>

<body id="index" class="home">
        <header id="banner" class="body">
                <h1><a href="{{ SITEURL }}/index.html">{{ SITENAME }} {% if SITESUBTITLE %} <strong>{{ SITESUBTITLE }}</strong>{% endif %}</a></h1>
                <nav><ul>
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}">{{ title }}</a></li>
                {% endfor %}
                {% if DISPLAY_PAGES_ON_MENU != False %}
                {% for p in PAGES %}
                    <li {% if p == page %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                {% endfor %}
                {% endif %}
                {% for cat, null in categories %}
                    <li {% if cat == category %}class="active"{% endif %}><a href="{{SITEURL}}/{{cat.url}}">{{cat|capitalize}}</a></li>
                {% endfor %}
                </ul></nav>
        </header><!-- /#banner -->

        {% block content %}
        {% endblock %}
{% include 'analytics.html' %}
</body>
</html>
