{% extends "base.html" %}
{% block content_title %}{% endblock %}
{% block content %}
{% if articles %}
<section id="content" class="body">
    <h1 class="entry-title">Recent articles
	{% if category %}
	<a type="application/atom+xml"  href="{{ SITEURL }}/{{CATEGORY_FEED_ATOM % category.slug }}">(feed for this category)</a>
	{% elif not tag %}
	<a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate">(feed for all posts)</a>
	{% endif %}
     </h1>
 <ol id="posts-list" class="hfeed">
{% for article in articles %}
  <li><article class="hentry">
    <header>
      <h1><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title}}">{{ article.title }}</a></h1>
    </header>

    {% include 'article_infos.html' %}

    <div class="entry-content">
      {{ article.summary }}
    </div><!-- /.entry-content -->
    <a class="readmore" href="{{ SITEURL }}/{{ article.url }}">read more</a>
  </article></li>
{% endfor %}
</ol><!-- /#posts-list -->
</section><!-- /#content -->
{% else %}
<section id="content" class="body">
<h2>Pages</h2>
{% for page in PAGES %}
    <li><a href="{{ SITEURL }}/{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</section>
{% endif %}
{% endblock content %}
